body {
    margin              : 0;
    padding             : 0;
}

p {
    margin              : 0;
}

a {
    color               : inherit;
    text-decoration     : none;
    
    &:hover {
        text-decoration : underline;
    }
}

ul {
    list-style          : none;
    margin              : 0;
    padding             : 0;
}